
.card-style-img{
    width: 13rem;
    height: 13rem;
}

.map{
    width: 50rem;
    height: 25rem;
    border:0;
}

.infocard{
    max-width: 100%;
    width: 100%;
    max-height: 50vh;
    height: 30vh;
}

@media only screen and (max-width: 600px){
    .map{
        width: 15rem;
        height: 15rem;
    }

    .card-style-img{
        width: 11rem;
        height: 20rem;
    }

    .infocard{
        width: 100%;
        max-height: 100vh;
        height: 85vh;
    }
}

@media only screen and (max-width: 765px){
    .map{
        width: 25rem;
        height: 15rem;
    }

    
}

@media only screen and (max-width: 1200px){
    
}

