


.carousel-area{
    height: 7rem;
    margin-bottom: 2rem;
}

.bground{
    
    height: 100vh;
}

.prog-img{
    width: 10rem;
    height: 28vh;
}

.courseCard{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    height: 20rem;
}

.courseCard:hover{
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    background-color: #8ea3b8;
    color: #fff;
    cursor: pointer;
}

.couseCardHead{
    background-color: rgb(69, 205, 230);
    padding-bottom: 1rem;
}

.home-lower{
    height: 20rem;
    padding-top: 15rem;
    bottom: 0;
}

.home-upper{
    height: 20rem;
    background-image: url(../../Assets/bg/aqua.jpg);
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
    /* For smaller screens*/
    .home-upper{
        background-position: left;
    }
    
}