.ads{
    max-height: 40rem;
}

.item-align{
    align-items: center;
    text-align: center;
}

.btn-admiss{
    margin-top: 20rem;
}

.carousel-area{
    height: 20rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    /* For smaller screens*/
    .ads{
        max-height: 30rem;
    }
}